In [1]:
import numpy as np
import pandas as pd

**Importing tha dataset**

In [2]:
df = pd.read_csv('D:\\Data Science\\data\\creditcard.csv')
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [4]:
df.isnull().sum()                    #no null values found

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [5]:
df['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

*There are 2 types of class 0 and 1 which is genuine and fraud transactions respectively*

In [6]:
#separating the data
genuine = df[df.Class == 0]
fraud = df[df.Class == 1]

In [7]:
print(genuine.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [8]:
genuine.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [9]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

*Maximum of 2125 worth of fraud transactions were made*

Taking equal number of samples for both genuine and fraud transactions i.e. 492 each

In [10]:
genuine_sample = genuine.sample(n=492)

#Concatenating the two datasets
df2 = pd.concat([fraud, genuine_sample], axis=0)
df2['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

**Splitting the data for training set**

In [11]:
X = df2.drop(columns='Class', axis=1)
Y = df2['Class']

In [13]:
print(X)

            Time         V1         V2        V3        V4        V5  \
541        406.0  -2.312227   1.951992 -1.609851  3.997906 -0.522188
623        472.0  -3.043541  -3.157307  1.088463  2.288644  1.359805
4920      4462.0  -2.303350   1.759247 -0.359745  2.330243 -0.821628
6108      6986.0  -4.397974   1.358367 -2.592844  2.679787 -1.128131
6329      7519.0   1.234235   3.019740 -4.304597  4.732795  3.624201
...          ...        ...        ...       ...       ...       ...
271477  164592.0 -13.841548 -17.195928  0.440966  9.025259  9.251035
131820   79744.0  -0.749457   0.525147  1.093406 -1.007261  0.606713
116025   74117.0   0.995334   0.429286  0.661508  2.259407  0.623090
208486  137143.0  -0.766931   1.455400 -0.502350 -0.412393  0.579116
261308  159954.0  -2.145552  -0.199911 -0.035348 -0.260257  1.937004

              V6        V7        V8        V9  ...       V20       V21  \
541    -1.426545 -2.537387  1.391657 -2.770089  ...  0.126911  0.517232
623    -1.064823  0.325574 -0.067794 -0.270953  ...  2.102339  0.661696
4920   -0.075788  0.562320 -0.399147 -0.238253  ... -0.430022 -0.294166
6108   -1.706536 -3.496197 -0.248778 -0.247768  ... -0.171608  0.573574
6329   -1.357746  1.713445 -0.496358 -1.282858  ...  0.009061 -0.379068
...          ...       ...       ...       ...  ...       ...       ...
271477 -5.060000 -7.346769  1.558466 -0.417626  ...  3.055685  1.037089
131820 -1.095648  1.120637 -0.202708 -0.632110  ...  0.114598 -0.339547
116025  1.507125 -0.183999  0.476938 -0.809684  ... -0.261933 -0.124386
208486 -1.131810  0.988088 -0.166162  0.212991  ...  0.113917  0.265822
261308 -0.988058  1.064224 -1.092562 -0.681652  ... -0.843532  0.697002

             V22       V23       V24       V25       V26       V27       V28  \
541    -0.035049 -0.465211  0.320198  0.044519  0.177840  0.261145 -0.143276
623     0.435477  1.375966 -0.293803  0.279798 -0.145362 -0.252773  0.035764
4920   -0.932391  0.172726 -0.087330 -0.156114 -0.542628  0.039566 -0.153029
6108    0.176968 -0.436207 -0.053502  0.252405 -0.657488 -0.827136  0.849573
6329   -0.704181 -0.656805 -1.632653  1.488901  0.566797 -0.010016  0.146793
...          ...       ...       ...       ...       ...       ...       ...
271477 -0.815769 -1.052607  0.425192 -0.161146  0.363588 -0.202885 -0.364105
131820 -1.273431  0.111482 -0.124347 -0.178817  0.509101 -0.059954  0.093030
116025 -0.271393  0.265917 -1.016727 -0.054258 -0.138180  0.066804  0.014952
208486  1.136541 -0.262170 -0.021111 -0.500218 -0.241699 -0.147713 -0.150220
261308  0.380203  0.438691 -0.463691  1.618034  0.212475  0.224706 -0.180231

        Amount
541       0.00
623     529.00
4920    239.93
6108     59.00
6329      1.00
...        ...
271477  264.74
131820   56.94
116025    4.98
208486   10.31
261308   17.73

[984 rows x 30 columns]

In [18]:
print(Y)

541       1
623       1
4920      1
6108      1
6329      1
         ..
271477    0
131820    0
116025    0
208486    0
261308    0
Name: Class, Length: 984, dtype: int64

In [20]:
from sklearn.model_selection import train_test_split

In [29]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.4, stratify=Y, random_state=2)

**Training the model using Logistic Regression and making predictions with test samples**

In [30]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [31]:
model.fit(X_train, Y_train)

LogisticRegression()

**Evaluating the model by checking accuracy**

In [37]:
X_train_Prediction = model.predict(X_train)
print(X_train_Prediction)

[0 0 0 0 1 0 1 1 0 0 0 0 0 1 1 0 0 1 1 1 0 0 0 0 1 0 1 1 0 0 1 0 0 0 1 0 0
 0 1 0 0 1 1 1 0 1 0 0 1 1 1 0 0 0 0 0 0 0 0 1 1 0 0 1 0 1 1 1 1 1 1 1 0 0
 0 0 1 0 0 0 1 0 1 1 0 0 1 1 0 1 1 0 1 1 0 0 0 0 0 0 1 0 1 0 0 1 1 1 0 0 0
 0 0 1 0 1 0 0 1 1 1 0 0 0 0 1 1 0 0 1 0 0 0 1 1 0 1 0 0 1 0 0 0 1 0 1 1 0
 0 0 1 1 1 0 1 1 1 1 1 1 0 0 0 1 0 1 1 1 1 0 0 1 1 0 0 0 0 0 1 1 0 1 1 1 0
 0 0 0 0 0 0 1 0 1 0 1 0 1 0 0 1 0 1 1 1 0 1 0 0 0 1 1 0 1 1 0 1 1 0 1 1 0
 0 1 1 1 0 0 1 1 0 1 1 0 1 0 1 1 0 0 0 1 1 0 1 1 1 0 1 1 0 1 1 1 0 1 0 0 0
 0 0 0 0 1 0 0 0 1 1 0 0 1 0 0 0 0 0 1 1 0 1 0 1 1 1 1 1 0 0 0 1 0 1 1 1 1
 0 0 0 0 1 1 0 1 0 1 0 0 0 1 1 0 0 0 0 1 0 1 0 0 1 0 1 0 1 1 0 1 0 0 1 1 1
 1 0 0 0 1 1 1 0 0 0 1 1 1 1 1 0 0 0 0 0 1 0 0 1 0 0 1 0 1 0 1 0 0 0 1 1 0
 1 1 0 0 1 1 0 0 0 1 0 1 0 1 0 1 1 0 0 1 0 0 1 1 1 0 1 0 0 1 1 0 0 0 1 1 0
 0 0 1 1 0 0 0 1 1 1 1 0 0 0 1 0 0 1 1 1 0 0 1 0 0 0 1 0 0 0 1 1 0 1 1 1 0
 1 1 1 1 0 1 0 1 1 1 0 1 0 0 1 1 1 1 0 0 1 1 1 1 0 1 0 0 1 0 1 0 0 1 1 1 1
 0 1 0 1 1 0 0 1 0 1 0 0 1 1 0 0 1 1 1 1 1 1 0 0 1 0 0 0 0 1 0 1 0 0 1 0 0
 1 0 1 1 1 0 0 1 1 0 0 0 1 1 0 1 0 1 0 0 0 1 0 0 0 1 1 1 0 1 0 1 0 1 0 1 1
 1 0 0 0 0 0 1 0 0 0 0 1 0 1 1 0 1 1 0 1 1 0 1 0 1 0 0 1 1 0 0 1 1 1 1]

In [43]:
X_test_Prediction = model.predict(X_test)
print(X_test_Prediction)

[1 0 0 0 1 0 1 1 0 1 0 0 0 1 0 1 1 1 1 0 1 0 1 1 0 1 1 1 1 1 1 1 1 1 0 0 1
 0 0 1 1 0 0 0 1 1 1 0 0 0 1 1 1 0 0 1 1 0 0 1 0 0 1 1 0 0 1 0 1 0 1 1 0 0
 1 1 0 0 1 0 1 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 1 0 0 0 0 1 1 1 1
 1 0 0 1 1 0 0 1 0 1 0 0 0 0 1 0 0 1 1 0 1 0 1 1 0 1 0 1 1 1 0 1 0 1 0 1 0
 0 0 1 0 1 1 0 1 0 0 0 0 1 1 0 1 0 1 1 1 0 0 0 1 0 1 0 0 1 0 0 0 0 0 0 1 0
 1 1 1 1 1 0 0 1 1 1 0 0 1 0 1 0 0 0 1 0 0 1 0 0 1 1 1 1 1 1 0 0 0 1 0 1 1
 0 0 1 0 0 1 0 1 0 1 0 0 0 1 1 1 1 0 0 0 0 1 0 0 1 0 0 1 1 0 0 1 1 0 0 1 0
 1 1 0 1 0 0 0 0 0 1 1 1 0 1 0 0 1 0 0 0 0 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 0
 0 0 0 0 1 1 1 1 0 0 1 0 0 0 0 0 1 0 1 1 1 1 1 1 0 0 1 0 1 0 0 1 1 0 0 0 1
 1 0 0 0 1 0 0 0 1 0 0 0 0 1 0 0 1 0 0 1 1 1 0 0 0 0 0 0 1 1 1 0 0 0 1 0 0
 0 1 0 1 0 0 1 0 1 0 1 0 0 1 0 0 1 0 0 1 1 0 0 0]

In [44]:
#model accuracy on test data
model.score(X_train, Y_train)

0.9389830508474576

In [45]:
#model accuracy on train data
model.score(X_test, Y_test)

0.9187817258883249